---
- name: dive| download and install dive
  unarchive:
    src: "{{ dive_url }}"
    dest: "{{ dive_destination }}"
    remote_src: yes
    owner: root
    group: root
    mode: 0755
  tags:
    - dive
